<div class="login-page clearfix">
  <header>
    <img class="header__icon" src="/auth0.png" alt="" />

    {{#if session.isAuthenticated}}
      <h2>Hi, {{session.data.authenticated.profile.name}}</h2>
      <button class="btn btn-primary btn-lg btn-login btn-block" {{ action 'logout' }}>Sign out</button>
	{{else}}
      <button class="btn btn-primary btn-lg btn-login btn-block" {{ action 'login' }}>Sign in</button>
    {{/if}}
  </header>

  {{outlet}}
</div>
